
#container-second-nav{
    width: 80%;
    margin:30px auto 20px auto;

    /*margin-top:50px;*/
}
#container-second-nav-font{
    margin-left:10px;
    font-size:2rem;
}
#container-second-nav input{
    width: 90%;
    height: 3.3rem;
    border-radius: 1rem;
    font-size:2rem;
    border:1px solid rgba(0,0,0,.1);
    background-color:rgba(0,0,0,.1);
}
#container-second-nav img{
    width: 9%;
    /*height: 1rem;*/
    /*background:url(../img/search.png) no-repeat;*/
    float:right;
}
#container-second-content{
    width: 100%;
    /*height: 300px;*/
    /*line-height: 100px;*/
    font-size:2rem;
}
#container-second-content .empty-box{
    width: 100%;
    height: 300px;
    border-top:1px solid rgba(0,0,0,.7);
    border-bottom:1px solid rgba(0,0,0,.7);
}
#container-second-content img{
    width: 35%;
    margin:10px;
    float:left;
}
#container-second-content ul{
    width:42%;
    float:left;
    margin-top:10px;
    margin-left:3%;

    /*display:inline-block;*/
}
#container-second-content ul li{
    margin:40px 0;
}
#container-second-content .font-left{
    float:left;
}
#container-second-content .font-right{
    color:rgba(0,0,0,.7);
    font-size:1.5rem;
}
/*ҳ������css*/

#container-third-nav{
    width: 80%;
    margin:30px auto 20px auto;

    /*margin-top:50px;*/
}
#container-second-nav-font{
    margin-left:10px;
    font-size:2rem;
}
#container-third-nav input{
    width: 90%;
    height: 3.3rem;
    font-size:2rem;
    border-radius: 1rem;
    border:1px solid rgba(0,0,0,.1);
    background-color:rgba(0,0,0,.1);
}
#container-third-nav img{
    width: 9%;
    float:right;
}
#container-third-banner{
    width: 100%;
    height: 300px;
}
#container-third-banner img{
    width: 100%;
    height: 100%;
}
#container-third-font{
    margin-left:10px;
    font-size:2rem;
    margin-top:20px;
}
#container-third-content{
    font-size:2rem;
    width: 100%;
}
#container-third-content li{
    width: 48%;
    float:left;
    margin:0 7px;
}
#container-third-content img{
    width: 100%;
}
#container-third-content span{
    float:left;
    width:100%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
/*��4ҳcss*/

/*#container-four{*/
    /*margin-top:30px;*/
/*}*/
#container-four li{
    width: 100%;
    height: 70px;
    font-size:2rem;
    line-height: 70px;
}
#container-four li span:nth-child(2){
    float:right;
}

#singNav{
    width:768px;
    height: 40px;
    background: #ff0000;
    background:url(../img/1.jpg);
    position:fixed;
    left: 0;
    bottom:0;
    z-index: 9999;
}
#singNav audio{
    width:768px;
    height: 40px;
    background:url(../img/1.jpg);
    position:fixed;
    left: 0;
    bottom:0;
    z-index: 9999;
}
@media screen and (width:768px){
    /*#container-box{*/
    /*width: 20000px;*/
    /*}*/
    .wrapper{
        width: 768px;
    }
    #nav{
        /*width: 100%;*/
        height: 6%;
    }
    #nav h1{
        line-height: 200%;
        font-size:1.5rem;
    }
}
@media screen and (max-width:414px){
    /*#container-box{*/
    /*width: 20000px;*/
    /*}*/
    .wrapper{
        width: 414px;
        margin-top:40px;
    }
    #nav{
        /*width: 100%;*/
        height: 6%;
    }
    .carousel-tab{
        right:38%;
    }
    #news-ipt input{
        height: 26px;
        font-size: 1rem;
    }
    #news-ipt{
        margin-top:20px;
    }
    #nav h1{
        line-height: 200%;
        font-size:1.5rem;
    }
    #classify{
        margin:1rem 0;

    }
    #classify a{
        font-size:1.8rem;
    }
    #content-imgs div span{
        font-size:1.5rem;
    }
    #container-third-content li{
        width:46%;
    }
    #marketing-content ul:first-child{
        width:29%;
    }
    #marketing-content ul:first-child img{
        width:100%;
    }
    #marketing-content ul:nth-child(2){
        font-size:1rem;
    }
    #marketing-content-font .font-left{
        width:115px;
        margin-right:40px;
    }
    #marketing-content-font li{
        margin-top:12px;
        height:23px;
        margin-left:5px;

    }
    #container-second-nav input{
        height: 26px;
        font-size:1rem;
    }
    #container-second-content ul{
        font-size:1rem;

    }
    #container-second-content .empty-box{
        height: 176px;
    }
    #container-third-nav input{
        height: 26px;
        font-size:1rem;
    }
    #container-third-banner{
        height: 170px;
    }
    #container-four ul li{
        margin-top:10px;
        font-size:1rem;
        height:30px;
        line-height: 36px;
    }
}
@media screen and (width:360px){
    #container-box{
        width: 360px;
    }
    .wrapper{
        width: 360px;
    }
}
@media screen and (width:384px){
    #container-box{
        width: 384px;
    }
    .wrapper{
        width: 384px;
    }
}
@media screen and (width:412px){
    #container-box{
        width: 412px;
    }
    .wrapper{
        width: 412px;
    }
}@media screen and (width:320px){
    #container-box{
        width: 320px;
    }
    #nav h1{
        line-height: 159%;
        font-size: 1.2rem;
    }
    .wrapper{
        width: 320px;
    }
    #container-third-banner{
        height: 160px;
    }
    #container-third-content{
        font-size:1rem;
    }
    #container-third-content li{
        width: 45%;
    }
    #container-third-font{
        font-size:1.5rem;
    }
    h3{
        font-size:1.5rem !important;
    }
}
@media screen and (width:375px){
    #container-third-nav{
        margin:-16px auto 20px auto;
    }
    .wrapper{
        width: 375px;
    }
}

