
#container-second-nav{
    width: 80%;
    margin:0.8rem auto 1rem auto;

    /*margin-top:50px;*/
}
#container-second-nav-font{
    margin-left:10px;
    font-size:2rem;
}
#container-second-nav input{
    width: 90%;
    height: 2rem;
    border-radius: 1rem;
    font-size:1rem;
    border:1px solid rgba(0,0,0,.1);
    background-color:rgba(0,0,0,.1);
}
#container-second-nav img{
    width: 9%;
    /*height: 1rem;*/
    /*background:url(../img/search.png) no-repeat;*/
    float:right;
}
#container-second-content{
    width: 100%;
    /*height: 300px;*/
    /*line-height: 100px;*/
    font-size:0.8rem;
}
.empty-box{
    width: 100%;
    height: 8rem;
    border-top:1px solid rgba(0,0,0,.7);
    border-bottom:1px solid rgba(0,0,0,.7);
}
.empty-box img{
    width: 20%;
    margin:2%;
    float:left;
}
#container-second-content ul{
    width:42%;
    float:right;
    /*margin-top:10px;*/
    margin-right:26%;

    /*display:inline-block;*/
}
.empty-box ul li{
    margin:2rem 0;
}
.empty-box .font-left{
    float:left;
}
.empty-box .font-right{
    /*margin-left:2rem;*/
    color:rgba(0,0,0,.3);
    font-size:1rem;
}
/*ҳ������css*/

#container-third-nav{
    width: 80%;
    margin:1rem auto 1.2rem auto;

    /*margin-top:50px;*/
}
#container-second-nav-font{
    margin-left:10px;
    font-size:1rem;
}
#container-third-nav input{
    width: 90%;
    height: 2rem;
    font-size:1rem;
    border-radius: 1rem;
    border:1px solid rgba(0,0,0,.1);
    background-color:rgba(0,0,0,.1);
}
#container-third-nav img{
    width: 9%;
    float:right;
}
#container-third-banner{
    width: 100%;
}
#container-third-banner img{
    width: 100%;
    height: 100%;
}
#container-third-font{
    margin-left:10px;
    font-size:1.3rem;
    margin-top:0.5rem;
}
#container-third-content{
    font-size:1rem;
    width: 100%;

}
#container-third-content li{
    width: 48%;
    float:left;
    margin:0 1%;
    margin-bottom:0.8rem;
}
#container-third-content img{
    width: 100%;
}
#container-third-content span{
    float:left;
    width:100%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
/*��4ҳcss*/

/*#container-four{*/
/*margin-top:30px;*/
/*}*/
#container-four li{
    width: 100%;
    height: 3rem;
    font-size:1.2rem;
    line-height: 3rem;
}
#container-four li span:nth-child(2){
    float:right;
}

#singNav{
    width:768px;
    height: 40px;
    background: #ff0000;
    background:url(../img/1.jpg);
    position:fixed;
    left: 0;
    bottom:0;
    z-index: 9999;
}
#singNav audio{
    width:768px;
    height: 40px;
    /*background:url(../img/1.jpg);*/
    position:fixed;
    left: 0;
    bottom:0;
    z-index: 9999;
}
#music{
    position:absolute;
    left: 0;
    right:0;
    bottom:0;
    top:0;
    display: none;
    z-index: 999;
    background:#f9f9f9;
}
#music-btn{
    display: inline-block;
    background: white;
    color:rgba(0,0,0,.7);
    border-radius:50%;
}
#singer-list{
    position:absolute;
    left: 0;
    right:0;
    bottom:0;
    top:0;
    display: none;
    z-index: 999;
    background:#f9f9f9;
}
#singer-list span{
    display: inline-block;
    background: white;
    color:rgba(0,0,0,.7);
    border-radius:50%;
}









@media screen and (max-width:768px) {
    html, body {
        font-size: 14px;
    }

    #container-box {
        width: 414px;
    }

    .wrapper {
        width: 100%;
    }

    #marketing-content-font li {
        line-height: 3.6rem
    }

.empty-box {
        height: 7rem;
    }
}
    @media screen and (width:768px){
        #big-container{
            width:768px;
        }
        #container-box{
            width: 768px;
        }
        .wrapper{
            width: 768px;
        }
        #container-second-content .empty-box{
            height:14rem;
        }
    }
    @media screen and (width:1024px){
        #big-container{
            width:1024px;
        }
        #container-box{
            width: 1024px;
        }
        .wrapper{
            width: 1024px;
        }
        #container-second-content .empty-box{
            height:14rem;
        }
    }

@media screen and (width:360px){
    #container-box{
        width: 360px;
    }
    .wrapper{
        width: 360px;
    }
}
@media screen and (width:384px){
    #container-box{
        width: 384px;
    }
    .wrapper{
        width: 384px;
    }
}
@media screen and (width:412px){
    #container-box{
        width: 412px;
    }
    .wrapper{
        width: 412px;
    }
}@media screen and (width:320px){
    #container-box{
        width: 320px;
    }
    #nav h1{
        line-height: 159%;
        font-size: 1.2rem;
    }
    .wrapper{
        width: 320px;
    }
    #container-third-banner{
        height: 160px;
    }
    #container-third-content{
        font-size:1rem;
    }
    #container-third-content li{
        width: 45%;
    }
    #container-third-font{
        font-size:1.5rem;
    }
    h3{
        font-size:1.5rem !important;
    }
}
@media screen and (width:375px){
    #container-box{
        width:375px;
    }
    .wrapper{
        width: 375px;
    }
    #nav{
        width: 100%;
    }
}